body{
    background-color: rgb(146, 172, 190);
    max-width: 100%;
}

.picture{
    background-color: rgb(221, 134, 117, 0.779);
    border-radius: 18px;
    margin: 2px 15px 2px 15px
}

.picture img{
    border-radius: 18px;
}

.picture img:nth-child(2){
    margin: 20px 20px 20px 39%;
}

.picture img:nth-child(1){
    margin: 20px 20px 20px 40px;
}



body h1{
    color : rgb(232, 221, 221);
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    margin: 5% 38% 5% 38%;
    padding: 27px 27px 27px 100px;
    border-radius: 20px;
    background-color: rgba(221, 134, 117, 0.779);    
}

body p{
    color:aliceblue;
    font-family:'Times New Roman', Times, serif;
    font-size: 17.5px;
}