@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Great+Vibes&family=Herr+Von+Muellerhoff&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Marck+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media all{
    body{
        display: flex;
        background: linear-gradient(180deg, #CED2DB 0%, #7D5B8D 100%);    
        gap: 25px;
        height: 145vh;
    }

    .left{
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 26%;
        background-color: #E9E0EB;
        border-radius: 30px;      
    }

    .namesite{
        font-family: 'Great Vibes';
        font-size: 45px;
        font-weight: 700;
        color:#875D93;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main{
        text-decoration: none;
    }

    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        padding: 0% 5% 5% 5%;      
    }

    .link_2{
        text-decoration: none;
        width: 100%;
        height: 100%;
    }

    button{
        font-family: 'Fasthand', cursive;
        font-family: 'Great Vibes', cursive;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto Slab', serif;
        font-weight: 500;
        font-size: large;
        display: flex;
        align-items: center;
        gap: 20px;
        height: 39px;
        background-color: #E9E0EB;
        border: none;
        width: 100%;
        padding-bottom: 10px;
    }


    .bottommenu{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        gap: 30px;
        width: 99%;
    }

    .botbut1, .botbut2, .botbut3{
        display: flex;
        justify-content: center;
        width: 20%;
    }

    .botbut1, .botbut3{
        border-radius: 10px;
    }

    .botbut2{
        border-radius: 50%;
    }

    .insta{
        width: 35px;
        border-radius: 10px;
    }


    .telega{
        width: 35px;
        border-radius: 50%;
    }

    .youtube{
        width: 35px;
        border-radius: 6px;
    }

    #qs{
        border-bottom: 1.4px rgb(199, 87, 180) solid;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
    }


    button:hover{
        cursor: pointer;
        transition-duration: 0.3s;
        box-shadow: 5px 5px 1px 3px rgb(146, 63, 132);
        transform: translate(0, 0.15em);
    }

    button:active {
        background: #f5d6ef;
        transform: translate(4px, 5px);
        transition-duration: 0.1s;
    }

    .right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 99%;
        gap: 3%;
    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 99%;
        /* background-color: aquamarine; */
        color:#8a5798;
        font-size: 45px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 200;
    }

    

    #pos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 92%;
        height: 6%;
        gap: 17%;
        padding: 0% 4% 0% 4%;
        border: 2px solid rgba(145, 58, 130, 0.195);
        border-radius: 20px;
        
    }


    .pr{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8%;
    }

    .doll{
        display: flex;
        width: 19%;
        height: 19%;
        border-radius: 50%;
    }

    .price_ord{
        display: flex;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 200;
        color: #8f569d;
    }

    .ploy{
        display: flex;
        width: 8%;
    }

    .ploy_name{
        width: auto;
        /* background-color: aqua; */
        font-weight: 100;
        font-size:x-large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .select{
        border-radius: 20px;
        padding-left: 25%;
        padding-right: 20%;
        width: 100%;
        background-color: #82538eb0;
        font-size: larger;
        /* font-weight: 100; */
        border: none;
    }

    select:hover{
        cursor: pointer;
        transition-duration: 0.3s;
        box-shadow: 5px 5px 1px 3px rgb(146, 63, 132);
        transform: translate(0, 0.15em);
    }


    select:active{
        background-color:#bc9fc4;
        transform: translate(0px, -4px);
        transition-duration: 0.1s;
    }

    
    


    select:focus{
            outline:none
    }

    

    .bl_select{
        display: flex;

        height: 50%;
        width: 6%;
    }

    ._order{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 99%;
        
    }

    .but_order{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #bc9fc4;
        border-radius: 25px;
        width: 100%;
        height: 100%;
        color: #E9E0EB;
        border: none;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large;

    }

    .pic_bag{
        border-radius: 10px;
        padding-right: 2%;
    }

    a{
        text-decoration: none;
    }



    .but_order:hover{
        cursor: pointer;
        transition-duration: 0.3s;
        box-shadow: 5px 5px 1px 3px rgb(146, 63, 132);
        transform: translate(0, 0.15em);
    }


    .but_order:active{
        background-color:#bc9fc4;
        transform: translate(0px, -4px);
        transition-duration: 0.1s;
    }

    

 







}

@media (max-width: 426px){
    body{
        display: flex;
        flex-direction: column;
    }

    .left{
        display: flex;
        flex-direction: column;
        width: 99%;
    }

    .blockploy{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1024px){
    button{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 10px;
    }
    
    .bl_select{
        width: 12%;
    }

    #pos{
        gap: 8%;
    }
}

@media (min-width: 1441px) {
    #pos{
        height: 10%;
        gap: 18%;
    }
}

@media (max-width: 426px){
    .namesite{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:40px;
    }

    .right{
        gap: 10%;
    }

    .bl_select{
        width: 16%;
    }

    #pos{
        gap: 3%;
        height: 12%;
    }
    
}
@media (min-width:1024px){

}
